.about {
    background-color: var(--P-normal);
    overflow: hidden;
    color: var(--white-normal);
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0.8rem 4rem 0.8rem;
    gap: 1rem;

    img {
        max-width: 35.6rem;
    }
}

.about-content div {
    flex: 1;
}

.about-description {
    h2 {
        font-size: 2.3rem;
        margin-bottom: 1.5rem;
    }

    p {
        margin-bottom: 0.8rem;
        line-height: 150%;
    }
}

@media screen and (max-width: 770px) {
    .about-content {
        flex-direction: column;
    }
}